.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $White;
  width: 80%;
  max-width: 500px;

  border-radius: 20px 20px 80px 20px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
