.date-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
// .date-form label {
//   display: flex;
//   flex-direction: column;
//   width: 20%;
//   height: 60px;
// }
.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.date-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: $Smokey-grey;
}
.date-input-wrapper label {
  font-size: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3em;
}
.date-input-wrapper input {
  border-width: 1px;
  height: 30px;
  border-color: $Light-grey;
  border-style: solid;
  padding-left: 10px;
  border-radius: 5px;
  font-family: "Poppins";
  color: $Smokey-grey;
}
.date-input-wrapper input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.date-button {
  width: 50px;
  height: 50px;
  background-color: $Purple;
  border-radius: 50%;
  border-width: 0px;
  z-index: 3;
}
.line {
  position: absolute;
  margin: 0px;
  width: 90%;
  background-color: $Light-grey;
  height: 1px;
  bottom: 61%;
}
// .button-wrapper {
//   position: relative;
//   width: 100%;
// }

@media (min-width: 386px) {
  .line {
    bottom: 70%;
  }
  .date-button {
    width: 65px;
    height: 65px;
  }
  .input-wrapper {
    justify-content: flex-start;
    gap: 20px;
  }
  .date-form {
    align-items: flex-end;
    gap: 10px;
  }
  .date-input-wrapper input {
    height: 5vw;
    padding-left: 15px;
    font-size: 3vw;
  }
}
@media (min-width: 1030px) {
  .date-input-wrapper input {
    font-size: 32px;
    height: 50px;
  }
}
